body{
  background-color: #fffff1;
  border-right: 3px solid black;

}




.head {
  margin-bottom: 0;
}

.articles {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 15px;
}

.articles #p1 {
  background-color: #eaeaed;
  margin-right: 15px;
  width: 25%;
  overflow: hidden;
  height: 186px;
  margin-left: -13px;
}

.articles #p2 {
  background-color: #eaeaed;
  margin-right: 16px;
  width: 25%;
  overflow: hidden;
  height: 186px;
}

.articles #p3 {
  background-color: #eaeaed;
  margin-right: 15px;
  width: 25%;
  overflow: hidden;
  height: 186px;
}

.arts{
  display: flex;
  flex-direction: row;
 margin-top: 50px;
}


.arts #p4 {
  background-color: #eaeaed;
  margin-right: 15px;
  width: 25%;
  overflow: hidden;
  height: 186px;
}

.arts #p5 {
  background-color: #eaeaed;
  margin-right: 15px;
  width: 25%;
  overflow: hidden;
  height: 186px;
}
.art-float {
  display: block;
  /* float: left; */
  background-color: #fffff1;
  display: inline-block;
  position: fixed;
  bottom: 453px;
  margin-top: 10px;
}

.art-float > p {
  background-color: #fffff1;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  overflow-y: scroll;
  height: 68px;
  font-weight: bold;
  font-size: 90%;
}
